body{
    background:linear-gradient(to left ,purple,#ff6600);
    padding: 0%;
    margin: 0%;
}

.header{
    background: rgba(0, 0, 0, 0.5);
    justify-content: space-evenly;
}

.navm{
    display:flex;
    list-style-type: none;
    position: relative;
    font-size: 130%;
    justify-content:space-evenly;
}

.profile{
    margin:20px;
    width: 100px;
    border-radius: 35%;
    border-color: rgb(255, 255, 255);
    border-width: 100%;
    border-style:ridge;
    justify-content: left;
    display: flex;
}

.home, .about, .products, .contact{
    text-decoration: none;
    padding-top: 60px;
    color: aliceblue;
}

.main-con{
    text-align: center;
}

.whatsapp a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    

}

.whatsapp a:hover,:focus{
    color: rgb(0, 255, 0);
    transition: all 1s ;
}

.email a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.email a:hover, :focus{
    color: rgb(0, 255, 0);
    transition: all 1s ;
}